# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store

websrc/node_modules
websrc/dist/genesis.wasm
websrc/dist/melonds.wasm
websrc/dist/mgba.wasm
websrc/dist/quicknes.wasm
websrc/dist/libRRUI.bundle.js.LICENSE.txt
websrc/dist/snes9x.wasm
